<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Flursmedia</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
        <a href="">Flursmedia <span>dev</span></a>
        <div></div>
    </header>
    <main>
        <section>
            <article>
                <h1>Catatan Keuangan Sederhana</h1>
                <p>Catat transaksi keuangan dalam kelompok keuangan</p>
                <a href="https://play.google.com/store/apps/details?id=com.flurs.catatankeuangan" target="_blank"
                    class="gplay-btn">
                    Google Play
                    <img src="images/gplay_badge_web_crop.png" alt="">
                </a>
            </article>
            <figure>
                <img src="images/apps/Moneytory.jpg" alt="" srcset="">
            </figure>
        </section>
    </main>
    <footer>
        <a href="mailto:flurs.media@gmail.com" target="_blank">flurs.media@gmail.com</a>
        <p><b>©</b> 2024</p>
    </footer>
</body>

</html>