* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: 20px;
}

header a span {
  font-family: 'Courier New', Courier, monospace;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 30px;
}

footer a:hover {
  text-decoration: underline;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

main section {
  margin: auto;
  display: flex;
  max-width: 100%;
  gap: 20px;
}

main section article {
  padding-top: 50px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main section article h1 {
  font-size: 72px;
  word-wrap: break-word;
}

main section article p {
  font-size: 24px;
}

main section article .gplay-btn {
  position: relative;
  max-width: 150px;
  min-height: 45.64px;
  margin-top: 50px;
  background-color: #000;
  padding: 2px;
  border-radius: 7px;
  border: 1px solid #a6a6a6;
  overflow: hidden;
  transition: 300ms;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section article .gplay-btn:hover {
  scale: 1.04;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

main section article .gplay-btn img {
  position: absolute;
  width: 98%;
  object-fit: cover;
  display: block;
}

main section figure {
  width: 50vw;
  aspect-ratio: 3/2;
  position: relative;
}

/* main section figure::before {
    content: '';
    position: absolute;
    top: 50px;
    z-index: 0;
    background-color: #8499AC;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: blur(70px);
} */

main section figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  /* opacity: 0; */
  box-shadow: 0 20px 150px #8499ac99;
}

@media screen and (max-width: 1080px) {
  main {
    padding: 20px;
  }

  main section {
    flex-direction: column;
    gap: 50px;
  }

  main section article h1 {
    font-size: 60px;
  }

  main section figure {
    width: 100%;
  }
}
